<div class="footer-col-wrapper">

  <div class="footer-col">
    <div class="copyright">
      {% assign year_from = site.posts[-1].date | date: '%Y' %}
      {% assign year_to   = site.time | date: '%Y' %}
      {% if year_from == nil or year_from == year_to %}
        {% assign year_string = year_from %}
      {% else %}
        {% assign year_string = year_from | append: '&nbsp;' | append: '-' | append: '&nbsp;' | append: year_to %}
      {% endif %}
    </div>
  </div>

  <div class="footer-col">
    <p>{{ site.description | escape }}</p>
  </div>
</div>
<p>
    Avatar of generalized policy iteration figure reproduced with kind permission of the author from Sutton and Barto, Reinforcement Learning: An Introduction, p. 68.
</p>
<p>
    Favicon of Ouroboros reproduced without modification from <a href="https://commons.wikimedia.org/wiki/File:Ouroboros_(fixed_width).svg">Wikimedia Commons</a> under <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0</a>.
</p>
